flask
mxmapi
requests[security]
spotipy
hypercorn
aiohttp
click==8.3.1
gunicorn==23.0.0
importlib-metadata==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug
zipp==3.23.0
asgiref
jellyfish
redis[hiredis]
python-dotenv==1.2.1
Flask-Babel
Flask-Caching
requests
beautifulsoup4
urllib3