<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N2FR6G2S');</script>
  <!-- End Google Tag Manager -->
  <title>Spotify Data</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="Spotify To Mxm" property="og:title" />
  <meta content="Get Musixmatch Link, ISRC, Track ID, Album Link From Spotify Link" property="og:description" />
  <meta content="#ff6050" data-react-helmet="true" name="theme-color" />
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2FR6G2S" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="offline-div" spellcheck="true" style="display: none">
    <h3 style="
          font-size: 50px;
          margin: 0;
          padding: 0;
          color: #ff5900;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        ">
      No Internet Connection
    </h3>
    <p style="
          font-size: 30px;
          margin: 0;
          padding: 0;
          color: #ff0000;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        ">
      Make sure you're connected to the internet.
    </p>
  </div>

  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/spotify">Spotify Data</a></li>
      <li><a href="/mxm">MXM Source</a></li>
      <li><a href="/abstrack">MXM Abstrack</a></li>
      <li><a href="/split">Split Checker</a></li>
      <li><a href="/api">Set Token</a></li>
    </ul>
  </nav>


  <div class="container">
    <h1>Get Spotify Data</h1>
    <form action="/" method="GET">
      <label for="input_link">Spotify Track|Album Link or ISRC:</label>
      <input type="text" id="input_link" name="link" placeholder="Enter Spotify track|album link or an ISRC here" />
      <button type="submit" id="process_button">Get links</button>
      <div class="loading" id="loading"></div>
    </form>
    <div class="output" id="output">
      {% if tracks_data %}
      <div class="row">
        {% for track in tracks_data %} {% if track.isrc is defined %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="{{ track.image }}" alt="{{ track.track_name }}" />
            <div class="card-details">
              <h5 class="card-title">{{ track.track.name }}</h5>

              <p class="card-text">
                Album:
                <a href="{{ track.track.album.external_urls.spotify }}" class="card-link" target="_blank">{{
                  track.track.album.name }}</a>

              </p>
              <p class="card-text">ISRC: {{ track.isrc }}</p>
              {% if track.track.available_markets %}
              <p class="card-text"><a href="javascript:void(0)" onclick="showCountriesModal({{ loop.index0 }})"
                  class="card-link show-countries-btn">Available Markets</a></p>
              {% else %}
              <p class="card-text"> No Available Markets</p>
              {% endif %}

            </div>
          </div>
        </div>
        {% else %}
        <div class="card">
          <p class="card-text">{{ track }}</p>
        </div>
        {% endif %} {% endfor %}
      </div>

      {% if tracks_data[0].track is defined %}
      <script>
        // Function to convert ISO codes to country names
        async function convertCodesToCountryNames(isoCodes) {
          const response = await fetch('static/countries.json');
          const countryMapping = await response.json();

          const countryNames = isoCodes.map(code => countryMapping[code] || 'Unknown Country');
          return countryNames;
        }
        const tracks = {{ tracks_data| tojson }};
        // Function to display the countries in a modal
        async function showCountriesModal(id) {
          const isoCodes = tracks[id].track.available_markets;
          const countryNames = await convertCodesToCountryNames(isoCodes);

          const countriesList = document.getElementById('countries-list');
          countriesList.innerHTML = ''; // Clear any previous content

          if (countryNames.length > 0) {
            countryNames.forEach(countryName => {
              const li = document.createElement('li');
              li.textContent = countryName;
              countriesList.appendChild(li);
            });
          } else {
            const li = document.createElement('li');
            li.textContent = 'No countries found.';
            countriesList.appendChild(li);
          }

          const modal = document.querySelector('.modal');
          modal.style.display = 'block';


          // Attach the close event to the "Close" button
          document.querySelector('.close').addEventListener('click', closeModal);

          // Attach the event listener for clicks outside the modal
          document.addEventListener('click', handleClickOutsideModal);

        }

        function closeModal() {
          const modal = document.querySelector('.modal');
          modal.style.display = 'none';
        }
        // Function to handle clicks outside the modal
        function handleClickOutsideModal(event) {
          const modal = document.querySelector('.modal');
          if (event.target === modal) {
            closeModal();
          }
        }
        // Attach the function to the button click event
        //document.getElementById('show-countries-btn').addEventListener('click', showCountriesModal);
        const showCountriesBtns = document.querySelectorAll('.show-countries-btn');
        showCountriesBtns.forEach(btn => {
          //btn.addEventListener('click', showCountriesModal);
        });

        // Attach the event listener for clicks outside the modal
        document.addEventListener('click', handleClickOutsideModal);
      </script>
      {% endif %}


      {% endif %}
    </div>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <!-- <span>Version 1.0</span>
        <span class="separator">•</span> -->
      </div>

      <div class="footer-center">
        <span>Coded with ❤️ for music</span>
      </div>

      <div class="footer-right">
        <div>
          <a href="https://github.com/ianz56/Spotify-Link-To-Musixmatch-Track-and-Album-webApp" target="_blank"
            class="github-link">
            <img src="https://raw.githubusercontent.com/simple-icons/simple-icons/develop/icons/github.svg" alt="GitHub"
              class="icon" />
          </a>
        </div>
        <div>
          <a href="https://github.com/AdelHashem/Spotify-Link-To-Musixmatch-Track-and-Album-webApp" target="_blank"
            class="github-link">
            <svg class="icon" aria-hidden="true" height="20" viewBox="0 0 16 16" version="1.1" width="20"
              data-view-component="true" class="octicon octicon-repo-forked mr-2">
              <path
                d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!-- The Modal -->
  <div id="countries-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Countries</h2>
      <ul id="countries-list"></ul>
    </div>
  </div>
</body>

</html>