{% extends 'base.html' %}

{% block title %}Spotify Data{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ _('Get Spotify Data') }}</h1>
  <form action="/" method="GET">
    <label for="input_link">{{ _('Spotify Track|Album Link or ISRC:') }}</label>
    <input type="text" id="input_link" name="link"
      placeholder="{{ _('E.g.:') }} https://open.spotify.com/intl-id/track/3wGL3DfKTQ4IM9dHk0IyS0?si=deaea5bbe85a4c0c" />
    <button type="submit" id="process_button">{{ _('Get links') }}</button>
    <div class="loading" id="loading"></div>
  </form>
  <div class="output" id="output">
    {% if tracks_data %}
    <div class="row">
      {% for track in tracks_data %} {% if track.isrc is defined %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{{ track.image }}" alt="{{ track.track_name }}" />
          <div class="card-details">
            <h5 class="card-title">{{ track.track.name }}</h5>

            <p class="card-text">
              {{ _('Album:') }}
              <a href="{{ track.track.album.external_urls.spotify }}" class="card-link" target="_blank">{{
                track.track.album.name }}</a>

            </p>
            <p class="card-text">ISRC: {{ track.isrc }}</p>
            {% if track.track.available_markets %}
            <p class="card-text"><a href="javascript:void(0)" onclick="showCountriesModal({{ loop.index0 }})"
                class="card-link show-countries-btn">Available Markets</a></p>
            {% else %}
            <p class="card-text"> {{ _('No Available Markets') }}</p>
            {% endif %}

          </div>
        </div>
      </div>
      {% else %}
      <div class="card">
        <p class="card-text">{{ track }}</p>
      </div>
      {% endif %} {% endfor %}
    </div>

    {% if tracks_data[0].track is defined %}
    <script>
      // Function to convert ISO codes to country names
      async function convertCodesToCountryNames(isoCodes) {
        const response = await fetch('static/countries.json');
        const countryMapping = await response.json();

        const countryNames = isoCodes.map(code => countryMapping[code] || 'Unknown Country');
        return countryNames;
      }
      const tracks = {{ tracks_data| tojson }};
      // Function to display the countries in a modal
      async function showCountriesModal(id) {
        const isoCodes = tracks[id].track.available_markets;
        const countryNames = await convertCodesToCountryNames(isoCodes);

        const countriesList = document.getElementById('countries-list');
        countriesList.innerHTML = ''; // Clear any previous content

        if (countryNames.length > 0) {
          countryNames.forEach(countryName => {
            const li = document.createElement('li');
            li.textContent = countryName;
            countriesList.appendChild(li);
          });
        } else {
          const li = document.createElement('li');
          li.textContent = "{{ _('No countries found.') }}";
          countriesList.appendChild(li);
        }

        const modal = document.querySelector('.modal');
        modal.style.display = 'block';


        // Attach the close event to the "Close" button
        document.querySelector('.close').addEventListener('click', closeModal);

        // Attach the event listener for clicks outside the modal
        document.addEventListener('click', handleClickOutsideModal);

      }

      function closeModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = 'none';
      }
      // Function to handle clicks outside the modal
      function handleClickOutsideModal(event) {
        const modal = document.querySelector('.modal');
        if (event.target === modal) {
          closeModal();
        }
      }
      // Attach the function to the button click event
      //document.getElementById('show-countries-btn').addEventListener('click', showCountriesModal);
      const showCountriesBtns = document.querySelectorAll('.show-countries-btn');
      showCountriesBtns.forEach(btn => {
        //btn.addEventListener('click', showCountriesModal);
      });

      // Attach the event listener for clicks outside the modal
      document.addEventListener('click', handleClickOutsideModal);
    </script>
    {% endif %}


    {% endif %}
  </div>
</div>

<!-- The Modal -->
<div id="countries-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>{{ _('Countries') }}</h2>
    <ul id="countries-list"></ul>
  </div>
</div>
{% endblock %}