{% set status_map = {
  1: {"class": "badge-mxm", "label": _("Musixmatch")},
  2: {"class": "badge-mxm", "label": _("Musixmatch")},
  3: {"class": "badge-mxm", "label": _("Musixmatch (Restricted)")},
  4: {"class": "badge-mxm", "label": _("Musixmatch (Non-mission/Ghost)")},
  5: {"class": "badge-curator", "label": _("Curator (Locked)")},
  6: {"class": "badge-curator", "label": _("Curator (Locked)")},
  8: {"class": "badge-community","label": _("Community (Published)")},
  9: {"class": "badge-community","label": _("Community (Locked/Published)")},
  13: {"class": "badge-artist", "label": _("Artist")},
  14: {"class": "badge-artist", "label": _("Artist (Edited by Specialist)")},
  15: {"class": "badge-curator", "label": _("Curator")},
  16: {"class": "badge-community","label": _("Community")},
} %}
