{% set status_map = {
1: {"class": "badge-mxm", "label": _("Musixmatch")},
3: {"class": "badge-mxm", "label": _("Musixmatch (Restricted)")},
15: {"class": "badge-curator", "label": _("Curator")},
5: {"class": "badge-curator", "label": _("Curator (Locked)")},
6: {"class": "badge-curator", "label": _("Curator (Locked)")},
16: {"class": "badge-community","label": _("Community")},
13: {"class": "badge-artist", "label": _("Artist")},
14: {"class": "badge-artist", "label": _("Artist (Edited by Specialist)")},
} %}