name: Build The Docker image and push it to the Docker Hub
on:
  push:
    branches:
      - master
    tags:
      - '*'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v6
            - name: Build the Docker image
              run: "docker build ."